* {
    margin: 0;
}
a {
    text-decoration: none;
    color: black;
}
li{
    list-style: none;
}
#signUp {
    color: red;
}
#header {
    background-image: url("./images/guagua_01.jpg");
    width: 100%;
    height: 99px;
}
#menu {
    margin-left: 900px;
}
#menu li{
    float: left;
}
#nav {
    /* background: rgb(131, 231, 248); */
    background-image: url("./images/banner.jpg");
    background-size: 100% 100%; 
    width: 100%;
    height: 40px;
    padding: 5px 0;
}
#nav ul {
    margin: 0 22%;
    line-height: 40px
}
#nav li{
    float: left;
    margin: 0 8px;
    font-size: 16px;
    font-weight: bold;
    background-image: url("./images/nav_line.gif");
    background-repeat: no-repeat;
    background-position-x: 100%; 
    padding-right: 15px

}
#nav li a{
    color: white
}
#nav li a:hover{
    background-image: url("./images/nav_hover.gif");
    background-repeat: no-repeat;
    background-position: 10px
}
#placard {
    margin: 5px 202px;
}
#announce {
    padding: 3px 10px;
    height: 24px;
    background-image: url("./images/soso2.jpg");
}
#announce span {
    font-weight: bold;
    /* line-height: 30px; */
}
#announce span:nth-of-type(2) {
    float: right;
    color: red;
}   
#picture {
    height: 50px;
    clear: both;
    border: 1px solid red;
}

#content {
    margin: 0 202px;
}
#main {
    padding: 5px;
}
.report, .judge {
    margin: 10px;
}
.rep_head, .jud_head {
    color: blue;
    margin-bottom: 5px;
}
.jud_content {
    line-height: 2;
}
.judge img {
    margin: 25px 10px 0 0;
}
#main img {
    float: left;
}
.report {
    float: left;
}
.rep_content {
    border-bottom: 1px dashed gray;
    padding: 5px;
    font-size: 70%;
}
.jud_content {
    font-size: 70%;
}
#news,#person{
    /* display: inline-block; */
    height: 250px;
    border: 1px solid grey;
}

#news{
    width: 71%;
    float: left;
}
#person{
    width: 28%;
    float: right;
}

#content header{
    /* padding: 5px; */
    background-image: url("./images/soso2.jpg");
    height: 35px;
}
#content header span{
    color: blueviolet;
    font-size: 14px;
    font-weight: bold;
    display: inline-block;
    padding: 5px;
}
#content header img{
    overflow: hidden;
    clip: rect(0 32px 35px 0);
    position: absolute;
}
#content header span:nth-of-type(1){
    float: left;
    margin-left: 32px; 
}
#content header span:nth-of-type(2){
    float: right;
}
#information {
    padding: 5px;
}
#information ul{
    padding: 0
}
#information ul li{
    width: 100%;
    display: block;
    margin: 5px;
}

.introduction {
    padding-left: 5px;
}
.head, .introduction{
    display: inline-block;
}
#clear {
    clear: both;
}
#picture {
    margin-top: 5px;
}