* {
    margin: 0;
}
a {
    text-decoration: none;
    color: black;
}
li{
    list-style: none;
}
#signUp {
    color: red;
}
#header {
    background-image: url("images/guagua_01.jpg");
    width: 100%;
    height: 99px;
}
#menu {
    margin-left: 900px;
}
#menu li{
    float: left;
}
#nav {
    background: rgb(131, 231, 248);
    width: 100%;
    height: 40px;
    padding: 5px 0;
}
#nav ul {
    margin: 0 22%;
    line-height: 40px
}
#nav li{
    float: left;
    margin: 0 5px;
    font-size: 16px;
    font-weight: bold;
    background-image: url("./images/nav_line.gif");
    background-repeat: no-repeat;
    background-position-x: 100%; 
    padding-right: 8px

}
#nav li a{
    color: white
}
#nav li a:hover{
    background-image: url("./images/nav_hover.gif");
    background-repeat: no-repeat;
    background-position: 10px
}
#placard {
    margin: 10px 195px;
}
#announce {
    height: 30px;
}
#announce span {
    font-weight: bold;
}
#announce span:nth-of-type(2) {
    float: right;
    color: red;
}   


#picture {
    height: 50px;
    clear: both;
    border: 1px solid red;
}

#content {
    margin: 0 195px;
}

#news,#person{
    display: inline-block;
    height: 200px;
    border: 1px solid rebeccapurple
}

#news{
    width: 70%
}
#person{
    width: 28%
}

#person header{
    padding: 5px;
    background-image: url("./images/soso2.jpg");
    height: 35px;
}
#person header span{
    color: blueviolet;
    font-size: 14px;
    font-weight: bold
}
#information ul{
    padding: 0
}
#information ul li{
    width: 100%;
    display: block
}
#person header span:nth-of-type(2){
    float: right;
}
.head, .introduction{
    display: inline-block
}